
version: "3.2"

services:
  agr_file_generator:
    image: agrdocker/agr_file_generator:latest
    volumes:
      - type: volume
        source: agr_generated_files
        target: /usr/src/tmp
        volume:
          nocopy: true
    environment:
      - NET=production
      - RELEASE_VERSION=3.0.0
      - NEO4J_HOST=build.alliancegenome.org
      - FMS_API_URL=https://fmsdev.alliancegenome.org
      - API_KEY=${API_KEY}
      - DEBUG=True
    entrypoint:
      - python3
      - -u 
      - src/app.py
      - --gene-cross-reference
  agr_file_generator_test:
    image: agrdocker/agr_file_generator:latest
    volumes:
      - type: volume
        source: agr_generated_files
        target: /usr/src/tmp
        volume:
          nocopy: true
    environment:
      - NET=production
      - RELEASE_VERSION=3.0.0
      - NEO4J_HOST=build.alliancegenome.org
      - FMS_API_URL=https://fmsdev.alliancegenome.org
      - API_KEY=${API_KEY}
      - DEBUG=True
    entrypoint:
      - python3
      - -u
      - tests/data_test.py
      - -v

volumes:
  agr_generated_files:
